asgiref==3.8.1
black==25.1.0
Brotli==1.1.0
cffi==1.17.1
chardet==5.2.0
click==8.2.1
colorama==0.4.6
crispy-bootstrap4==2024.10
cssselect2==0.8.0
diff-match-patch==20241021
Django==4.2.1
django-cors-headers==4.7.0
django-crispy-forms==2.3
django-import-export==4.3.9
django-ranged-response==0.2.0
django-simple-captcha==0.6.2
django-widget-tweaks==1.5.0
djangorestframework==3.16.0
et_xmlfile==2.0.0
fonttools==4.58.2
gunicorn==23.0.0
kaleido==0.2.1
mypy_extensions==1.1.0
narwhals==1.42.1
numpy==2.3.0
openpyxl==3.1.5
packaging==25.0
pandas==2.3.0
pathspec==0.12.1
pillow==11.1.0
python-docx==1.1.2
platformdirs==4.3.8
plotly==6.1.2
pycparser==2.22
pydyf==0.11.0
pyphen==0.17.2
python-dateutil==2.9.0.post0
pytz==2025.2
reportlab==4.4.1
ruff==0.12.1
six==1.17.0
sqlparse==0.5.3
tablib==3.8.0
tinycss2==1.4.0
tinyhtml5==2.0.0
tzdata==2025.2
weasyprint==65.1
webencodings==0.5.1
whitenoise==6.9.0
zopfli==0.2.3.post1
